include dash_ag_grid/*.js
include dash_ag_grid/*.js.map
include dash_ag_grid/*.LICENSE.txt
include dash_ag_grid/metadata.json
include dash_ag_grid/package-info.json
include README.md
include LICENSE
include package.json

include requires-dev.txt
include requires-docs.txt
include requires-install.txt