version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.4

jobs:
  test: &test
    docker:
      - image: cimg/python:3.9.9-node
        auth:
          username: dashautomation
          password: $DASH_PAT_DOCKERHUB
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          chrome-version: 116.0.5845.96
          firefox-version: 116.0.3
      - run:
          name: Install Python deps
          command: |
            python -m venv venv && . venv/bin/activate
            pip install --upgrade pip wheel
            pip install -r tests/requirements.txt
      - run:
          name: Build package
          command: |
            . venv/bin/activate
            npm ci
            npm run build
      - run:
          name: Lint
          command: |
            npm run lint
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            pytest --headless
  test-react-18:
    <<: *test
    docker:
      - image: cimg/python:3.9.9-node
        auth:
          username: dashautomation
          password: $DASH_PAT_DOCKERHUB
        environment:
          REACT_VERSION: "18.2.0"

workflows:
  run-tests:
    jobs:
      - test
      - test-react-18