.header1 .ag-header-cell-label {
  /*Necessary to allow for text to grow vertically*/
  height: 100%;
  padding: 0 !important;
}

.header1 .ag-header-group-cell {
  font-size: 50px;
}

.header1 .ag-header-cell-label .ag-header-cell-text {
  /*Force the width corresponding at how much width
    we need once the text is laid out vertically*/
  width: 55px;
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  line-height: 2em;
  margin-top: 60px;
}

/*Floating filters*/
.header1 .ag-floating-filter-body {
  height: 50px;
}

.header1 .ag-floating-filter-body input {
  height: 49px;
}

.header1 .ag-floating-filter-button {
  margin-top: -49px;
}

.header1 .ag-floating-filter-button button {
  height: 49px;
}

.header1 .ag-floating-filter-body input {
  font-size: 15px;
  font-weight: bold;
}

.header3 .ag-header-group-cell-with-group {
  background-color: #00e7b1 !important;
}
/*
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.locked-col {
  background: #ddd;
}

.suppress-movable-col {
  background: #f5f5dc;
}

.legend-box {
  border: 1px solid #aaa;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: text-top;
}

.legend-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 1rem;
}

#myGrid {
  flex: 1 1 0px;
}
