name: Generate release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "v18.16.0"
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Setup uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv
        shell: bash
      - name: Run all tests
        run: |
          source .venv/bin/activate
          uv pip install ".[dev]"
          pytest --headless
      - name: Generate distribution
        run: |
          source .venv/bin/activate
          npm i
          npm run dist
          npm pack && mv *.tgz dist/
        shell: bash
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*.whl,dist/*.tar.gz"
          draft: true